/bootstrap/compiled.php
/vendor
composer.phar
#composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
*.sublime-workspace
.vagrant
/node_modules
/nbproject
/public/vendor/bower_components
_ide_*
/report
.idea