/bootstrap/compiled.php
/vendor
composer.phar
#composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
*.sublime-workspace
.vagrant
/node_modules
/nbproject
/app/vendor
_ide_*
/report
.idea

#puphpet provisioning files
/puphpet/files/dot/.bash_git
/puphpet/files/dot/ssh
/puphpet/puppet
/puphpet/.gitattributes
/puphpet/shell/important-notices.*
/puphpet/shell/ssh-keygen.sh